body {
    font-family: 'iransans' !important;
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    text-align: right;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
p {
    margin: 0
}

.dri_rtl {
    direction: rtl
}

.dri_ltr {
    direction: ltr
}

.w-50 {
    width: 50%
}

.white-bg {
    background: #fff
}

.white-color {
    color: #fff !important
}

.red-color {
    color: #EB5757 !important;
}
a{
    text-decoration: none;

}

.ptb-70{
    padding: 70px 0;
}

.mtb-70{
    margin: 70px 0;
}