body {
    font-family: 'iransans' !important;
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    text-align: right;


    &::-webkit-scrollbar {
        width: 15px;
      }
    
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #ffb923;
      }

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
p {
    margin: 0
}
div {
    margin: 0
}
.dri_rtl {
    direction: rtl
}

.dri_ltr {
    direction: ltr
}

.w-50 {
    width: 50%
}

.white-color {
    color: #fff !important
}
.black-bg {
    background-color: #000 !important
}
.orange-color{
color:#ffb923 ;
}


.blue-color {
    color: #212381 !important
}
a{
    text-decoration: none;

}
img {
    max-width: 100%;
    height: auto;
}
.ptb-70{
    padding: 70px 0;
}

.mtb-70{
    margin: 70px 0;
}

