.default-button {
    background-color: $base-color;
    color: $white-color;
    border-radius: 0;
    &:hover {
        background-color: $black-color;
        color: $white-color;
        border-radius: 0;
    }
}