.company-tab-section {
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .nav-link {
        color: $text-gray;
        border-radius: 0;
        font-size: $font-size-16;
        font-weight: $font-weight-700;
        &:hover {
            color: $base-color;
        }
    }
    .nav-pills {
        border-bottom: 1px solid #ebe8e8;
        .nav-link.active,
        .show>.nav-link {
            background-color: $base-color;
            font-weight: $font-weight-500;
            &:hover {
                color: $white-color;
            }
        }
    }



    .company-content{
        h3 {
            font-size:22px;
            color: $text-gray;
            font-weight: $font-weight-700;
            margin-bottom: 10px;
        }
        p {
            font-size:$font-size-14;
            line-height: $line-height-30;
        }

    }

}