.customer-section {
    background-image: url('/content/image/partner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    position: relative;
    height: 100%;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $light-black;
        opacity: 0.8;
        z-index: 0;
    }

    .slider {
        width: 100%;
        position: relative;
        direction: ltr;

        .slide {
            margin: 10px 20px;
            transition: all ease-in-out .3s;

            img {
                width: 100%;
            }
        }
    }
}