.main-header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

.top-nav {
    background-color: $black-rgba;

    .contact-info  {

            a {
                color: $light-gray;
                font-weight: 500;
                font-size: $font-size-13;
                i{
                    color: $base-color;
                    padding-left: 5px;
                }
            }


        }

    .header-help-and-social {
        .social-links {

            a {
                i {

                    font-size: $font-size-13;
                    color: $light-gray;
                    padding-left: 5px;
                }
            }

        }
        .help-desk {
            a {
                color: $light-gray;
                font-weight: 500;
                font-size: $font-size-13;
            }
        }
    }

}
.bottom-nav{
    background-color: $black-rgba;
border-bottom: 1px solid $base-color-rgba;
border-top: 1px dashed $base-color-rgba;
 .navbar-nav{
    .nav-item{
        a{
            font-size: $font-size-14;
            color: $white-color;
        }
        a.active {
             color: $base-color!important;
        }
     }
     
 } 

 .quote-btn{
    .quote-btn-style{
        background-color: $base-color;
        color: $white-color;
        display: inline-block;
        cursor: pointer;
        padding: 8px 20px;
        font-size: $font-size-15;
    }
}



}
}

