@font-face {
  font-family: 'iransans';
  src: url("/content/fonts/IransansFaNum/ttf/IRANSansWebFaNum.ttf"), url("/content/fonts/IransansFaNum/eot/IRANSansWebFaNum.eot"), url("/content/fonts/IransansFaNum/woff/IRANSansWebFaNum.woff"), url("/content/fonts/woff2/IransansFaNum/IRANSansWebFaNum.woff2");
}

body {
  font-family: 'iransans' !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  direction: rtl;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  text-align: right;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  margin: 0;
}

.dri_rtl {
  direction: rtl;
}

.dri_ltr {
  direction: ltr;
}

.w-50 {
  width: 50%;
}

.white-bg {
  background: #fff;
}

.white-color {
  color: #fff !important;
}

.red-color {
  color: #EB5757 !important;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.ptb-70 {
  padding: 70px 0;
}

.mtb-70 {
  margin: 70px 0;
}

.default-button {
  background-color: #ffb923;
  color: #ffffff;
}

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-header .navbar-toggler i {
  color: #ffb923;
}

.main-header .top-nav .contact-info a {
  color: #8f8f8f;
  font-weight: 500;
  font-size: 13px;
}

.main-header .top-nav .contact-info a i {
  color: #ffb923;
  padding-left: 5px;
}

.main-header .top-nav .header-help-and-social .social-links a i {
  font-size: 13px;
  color: #8f8f8f;
  padding-left: 5px;
}

.main-header .top-nav .header-help-and-social .help-desk a {
  color: #8f8f8f;
  font-weight: 500;
  font-size: 13px;
}

.main-header .bottom-nav {
  border-bottom: 1px solid rgba(255, 185, 35, 0.4);
  border-top: 1px dashed rgba(255, 185, 35, 0.4);
}

.main-header .bottom-nav .navbar-nav .nav-item .dropdown-menu {
  background-color: #000000;
  text-align: right;
  right: 0;
}

.main-header .bottom-nav .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: #000000;
  color: #ffb923;
}

.main-header .bottom-nav .navbar-nav .nav-item a {
  font-size: 14px;
  color: #ffffff;
}

.main-header .bottom-nav .navbar-nav .nav-item a.active {
  color: #ffb923 !important;
}

.main-header .bottom-nav .quote-btn .quote-btn-style {
  background-color: #ffb923;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 15px;
}

.main-header.active {
  background: #000;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .flex-reverse-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .top-nav {
    display: none;
  }
}

.slider {
  width: 100%;
  position: relative;
  direction: ltr;
}

.slider .slide {
  margin: 0px 20px;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.slider .slide img {
  width: 100%;
}

.section-title h4 {
  font-size: 16px;
  color: #494949;
  position: relative;
  margin-right: 37px;
  margin-bottom: 15px;
  font-weight: 500;
}

.section-title h4:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #ffb923;
  right: -25px;
  bottom: 5px;
}

.section-title h2 {
  font-size: 30px;
  color: #494949;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}

.section-title h2 span {
  color: #ffb923;
  font-weight: 500;
}

.section-title p {
  color: #494949;
  font-size: 15px;
  margin-bottom: 20px;
}

.under-header-box {
  text-align: center;
  margin-top: -100px;
  z-index: 1;
  position: relative;
}

.under-header-box .single-box {
  position: relative;
  background-color: #ffffff;
  padding: 30px 35px 40px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.under-header-box .single-box i {
  font-size: 50px;
  color: #ffb923;
}

.under-header-box .single-box i:hover {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.under-header-box .single-box h3 {
  font-size: 18px;
  color: #494949;
  font-weight: 700;
  margin: 26px 0 13px;
}

.under-header-box .single-box p {
  font-size: 16px;
  color: #494949;
  line-height: 29px;
}

.under-header-box .black-box {
  background-color: #000000;
  -webkit-box-shadow: 0 0 15px #333333;
          box-shadow: 0 0 15px #333333;
  position: relative;
  z-index: 1;
}

.under-header-box .black-box h3 {
  color: #ffffff;
}

.under-header-box .black-box p {
  color: #ffffff;
}

.under-header-box .black-box:before {
  content: "24";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 160px;
  margin-left: 0;
  font-size: 230px;
  font-weight: 700;
  color: #141414;
  z-index: -1;
}

.under-header-box .box-border-left:before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 150px;
  height: 150px;
  background-color: #ffb923;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.under-header-box .box-border-right:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -4px;
  width: 150px;
  height: 150px;
  background-color: #ffb923;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.aboutus-section
.about-second-img {
  position: absolute;
  top: 170px;
  right: 5px;
  border: 30px solid #ffffff;
}

.about-card {
  margin-bottom: 15px;
  background-color: #ffffff;
  padding: 20px 20px 20px 54px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.about-card h3 {
  font-size: 16px;
  color: #353535;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-card i {
  font-size: 15px;
}

.whyus-section {
  background-color: whitesmoke;
}

.whyus-section .whyus-text h3 {
  font-size: 16px;
  color: #353535;
  font-weight: 700;
  margin-bottom: 10px;
}

.whyus-section .whyus-text p {
  font-size: 14px;
}

.whyus-section .whyus-icon {
  width: 50px;
}

.whyus-section .whyus-button {
  font-size: 16px;
  color: #ffb923;
  font-weight: 700;
  border-bottom: 2px solid #ffb923;
  border-radius: 0;
  margin-top: 15px;
  padding: 0;
}

.tab-section img {
  max-width: 100%;
  max-height: 100%;
}

.tab-section .nav-link {
  color: #000000;
  border-radius: 0;
  font-weight: 500;
}

.tab-section .nav-pills {
  border-bottom: 1px solid #ebe8e8;
}

.tab-section .nav-pills .nav-link.active, .tab-section .nav-pills .show > .nav-link {
  background-color: #ffb923;
  font-weight: 500;
}

.partner-section {
  background-image: url("/content/image/partner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  position: relative;
  height: 100%;
  width: 100%;
}

.partner-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: .7;
}

.partner-section .slider {
  width: 100%;
  position: relative;
  direction: ltr;
}

.partner-section .slider .slide {
  margin: 0px 20px;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.partner-section .slider .slide img {
  width: 100%;
}

.project-section {
  background-color: #000000;
  padding: 30px 12px 0 0;
}

.project-section img {
  width: 500px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}

.project-section .nav-link {
  color: #ffffff;
  border-radius: 0;
}

.project-section .nav-pills .nav-link.active, .project-section .nav-pills .show > .nav-link {
  background-color: #ffb923;
}

.part11-box {
  text-align: center;
  z-index: 1;
  position: relative;
}

.part11-box img {
  width: 125px;
  border-radius: 50%;
}

.part11-box .part11-title h4 {
  font-size: 16px;
  color: #494949;
  position: relative;
  margin-right: 37px;
  margin-bottom: 15px;
}

.part11-box .part11-title h2 {
  font-size: 30px;
  color: #494949;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 15px;
}

.part11-box .part11-title h2 span {
  color: #ffb923;
}

.part11-box .part11-title p {
  color: #494949;
  font-size: 15px;
  margin-bottom: 20px;
}

.part11-box .single-box {
  position: relative;
  background-color: #ffffff;
  padding: 60px 33px 50px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.part11-box .single-box i {
  font-size: 50px;
  color: #ffb923;
}

.part11-box .single-box h3 {
  font-size: 18px;
  color: #494949;
  font-weight: 700;
  margin: 26px 0 13px;
}

.part11-box .single-box p {
  font-size: 16px;
  color: #494949;
  line-height: 29px;
}

.part11-box .black-box {
  background-color: #000000;
  -webkit-box-shadow: 0 0 15px #333333;
          box-shadow: 0 0 15px #333333;
  position: relative;
}

.part11-box .black-box h3 {
  color: #ffffff;
}

.part11-box .black-box p {
  color: #ffffff;
}

.part12 {
  background-image: url("/content/image/position-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.part12::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: .7;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 9999;
  background-color: #494949;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.back-to-top i {
  color: #ffb923;
  position: absolute;
  right: 12px;
  top: 11px;
  text-align: center;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */