.part8 {
    background-image: url('/content/image/counter-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px;
    width: 100%;
    height: 100%;
    position: relative;
z-index: -1;
    .circle-counter {
        position: relative;
margin-top: 30px;
        p {
margin-right: 52px;
        }

        i {
            color: $white-color;
            font-size: 30px;
            font-weight: bold;
        }
span{
    font-size: 35px;
}

        &::before {
            content: "";
            position: absolute;
            top: -62px;
            left: 71px;
            width: 170px;
            height: 170px;
            border: 1px dashed #fff;
            border-radius: 50%;
        }

    }
}





@media (max-width: 767px) {

    .circle-counter {
 p{
     text-align: left;
     margin: 0;
 }
        &::before {
         display: none;
        }
    
    }
    
  
}