.section-title h4 {
    font-size: 16px;
    color: #777;
    text-transform: capitalize;
    position: relative;
    margin-left: 37px;
    margin-bottom: 15px;
    &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffb923;
        right: -25px;
        bottom: 5px;
    }
 h2 {
     span {
    color: #ffb923;
}}

h2 {
    font-size: 30px;
    color: #414141;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 15px;
}

 p {
    color: #777;
    font-size: 16px;
    margin-bottom: 20px;
}


}
