.section-title {
h4 {
    font-size: 16px;
    color: #414141;
    position: relative;
    margin-right: 37px;
    margin-bottom: 15px;
    &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffb923;
        right: -25px;
        bottom: 5px;
    }}

h2 {
    font-size: 30px;
    color: #414141;
    font-weight: 500;
    line-height:30px;
    margin-bottom: 15px;
    
        span {
       color: #ffb923;
   }
}

 p {
    color: #414141;
    font-size: 16px;
    margin-bottom: 20px;
}


}
.container1 {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  .ele {
    height:100px;
    flex-basis: calc(100% / 6);
    border:1px solid black;
    box-sizing: border-box;
  }
  .container1::after,
  .container1::before {
    content: '';
    flex-basis: calc(100% / 12);
  }
  .container1::after {
    order: 1;
  }
  .ele:nth-child(n+6) {
    order: 2;
  }