.section-title {
    h4 {
        font-size: 15px;
        color: $dark-gray;
        position: relative;
        margin-right: 37px;
        margin-bottom: 15px;
        font-weight: $font-weight-700;

        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: $base-color;
            right: -25px;
            bottom: 5px;
        }
    }

    h2 {
        font-size: 25px;
        color: $dark-gray;
        font-weight: $font-weight-700;
        line-height: 30px;
        margin-bottom: 15px;

        span {
            color: $base-color;
            font-weight: $font-weight-700;
        }
    }

    p {
        color: $dark-gray;
        font-size: $font-size-14;
        margin-bottom: 20px;

    }


}