.back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 9999;
    background-color: $dark-gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    i {
        color: $base-color;
        position: absolute;
        right: 12px;
        top: 11px;
        text-align: center;
        font-size: $font-size-18;
    }
    &:hover {
        background-color: $base-color;
        i {
            color: $white-color;
        }
    }
}